body{
    padding: 0%;
    margin: 0%;
    background-image: url(imageOf\ M.jpeg.jpg);
    background-repeat: round;
}
.text-center{
    text-align: center;
    color: rgb(252, 251, 253);
    font-size: 50px;
}

.mx-auto{
    margin: auto;
}
.flex{
display: flex;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}
.button{
    padding: 19px;
    margin: 0 4px;
    border: 2px solid rgb(190, 189, 189);
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: inset 5px 5px 10px rgb(205, 205, 206),
    5px 12px rgba(0, 0, 0, 0.12);
}
.row{
    margin:8px 0;
}
.row input {
    font-size: 24px;
    margin-top: 23px !important;
    padding: 10px 30px;
    border: 2px solid rgb(194, 216, 188);
    border-radius: 9px;
    width: 173px;
    height: 20px;
    background-color: rgb(210, 253, 181);
    box-shadow: inset 5px 5px 10px rgb(137, 253, 114),
    5px 12px rgba(151, 245, 88, 0.12);
}
.container{
    height: 395px;
    width: 256px;
    border-radius: 15px;
    background-color: rgb(142, 143, 143);
    box-shadow: inset 5px 5px 10px rgb(185, 185, 187),
     5px  5px 12px rgba(145, 143, 143, 0.418);
     
}